*{
    margin: 0px;
    padding: 0px;
}

.banner{
    background: url(./banner-mobile.jpg) no-repeat center center fixed ;
    background-size: cover;
}

.about-sign{
    text-align: end;
    padding: 50px;
}

.about, .sign{
    display: inline-block;
    padding: 12px;
    text-transform: uppercase;  
}

.about a{
    text-decoration: none;
    color: black;
}

.sign a{
    text-decoration: none;
    color: black;
    border: solid 2px green;
    padding: 10px;
    border-radius: 30px;
}

.logo{
    background: url(./hapoERP.png) no-repeat center;
    height: 70px;
    width: 100%;
    padding: 30px 0;
    margin: 30px 0;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.icon1, .icon2, .icon3{
    text-align: center;
    font-size: 20px;
}

.icon1 img, .icon2 img, .icon3 img{
    width: 70px;
    display: block;
}

.text-btn{
    text-align: center;
    padding: 24px 0;
}

.text-btn .btn{
    padding-top: 20px;
}

.text-btn .btn button{
    color: white;
    background-color: green;
    font-size: 20px;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
}
